@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Rancho&display=swap');

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url('images/bday-bg.jpg');

}

.card {
    width: 900px;
    display: flex;
    background: linear-gradient(90deg, hsla(22, 100%, 78%, 1) 0%, hsla(2, 78%, 62%, 1) 100%);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Leckerli One', cursive;
    font-size: 1.5vw;

}

.balloon-img {
    width: 45%;
    background-image: url('images/bday-img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


.birthday-form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Rancho', cursive;
    letter-spacing: 0.5rem;
}

.birthday-form > * {
    margin: 1rem auto;
}

input {
    height: 30px;
    font-family: 'Leckerli One', cursive;

}
button {
    padding: 0.5rem 2rem;
    font-family: 'Leckerli One', cursive;
    background-color: seagreen;
}



@media (min-width:551px) and (max-width:900px) {

    .container{
        height: 100%;
    }
    .card {
        flex-direction: column;
        width: 80vw;
        font-size: 2.5vw;
        margin: 2rem auto;
    }
    .balloon-img{
        width: 100%;
        height: 350px;
        background-position: center;
    }
    .birthday-form {
        width: 90%;
        margin: 0 auto;
    }

    .birthday-form > * {
        margin: 0.5rem auto;
    }
}

@media (max-width:550px) {
    .card {
        flex-direction: column;
        width: 80vw;
        font-size: 3vw;
    }
    .balloon-img{
        width: 100%;
        height: 250px;
        background-position: center;
    }
    .birthday-form {
        width: 90%;
        margin: 0 auto;
    }

    .birthday-form > * {
        margin: 0.5rem auto;
    }
}